body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 10px;
}
.container {
    max-width: 1100px;
    margin: auto;
}

/* Navigatsiya dizayni */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.nav-links button {
    background: #34495e;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}
.nav-links button.active-nav {
    background: #3498db;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    margin-bottom: 15px;
}
.stat-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.profit {
    color: #27ae60;
}
.debt {
    color: #e74c3c;
}
.items {
    color: #8e44ad;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}
input,
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.btn-save {
    background: #2980b9;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    grid-column: 1 / -1;
    padding: 12px;
}

.table-container {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;
}
th,
td {
    border-bottom: 1px solid #eee;
    padding: 12px;
    text-align: left;
    font-size: 14px;
}
th {
    background-color: #f8f9fa;
}

.btn-del {
    background: #ff4757;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.btn-paid {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
}

@media (max-width: 600px) {
    .nav-bar {
        flex-direction: column;
        gap: 10px;
    }
    .nav-links {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
